@font-face {
    font-family: 'Arcade';
    src: url('Arcade.woff2') format('woff2'),
        url('Arcade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

