@font-face {
    font-family: 'Barcade Brawl';
    src: url('Barcade-Brawl.woff2') format('woff2'),
        url('Barcade-Brawl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

